{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		<div class='page-header'>
			<h2> Welcome Back {{ user.username }}! </h2>
		{% else %}
			<h2> Welcome Guest! </h2>
		{% endif %}
		</div>

	<div class="row placeholders">
		<div class="col-xs-12 col-sm-6 placeholder">
	
			<h2>Top Liked Categories</h2>
			{% if categories %}
				<table border="2" cellpadding="10" cellspacing="10" width="400">
					<tr>
						<th>Category</th>
						<th>Likes</th>
					</tr>
					{% for category in categories %}
					<tr>
						<td><a href='/rango/category/{{category.slug}}'> {{ category.name }}</a> </td>
						<td align="center">{{ category.likes }}</td>
					</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No categories are available.</p>
			{% endif %}	
		</div>


		<div class="col-xs-12 col-sm-6 placeholder">
			<div class="panel panel-primary">
				<div class="panel panel-heading">
					<h2>Top Viewed Pages</h2>
					</div>
			</div>
				
			{% if pages %}
				<ul class="list-group">
					{% for page in pages %}
						<li class="list-group-item">
							<a href= "{{ page.url }}">{{ page.title }}</a> 
							<span class="badge">{{ page.views }}</span>
							</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No categories are available.</p>
			{% endif %}	
			{% endblock %}
		</div>

</div>





