{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
	<h2> Welcome Back {{ user.username }}! </h2>
{% endif %}

<h2>Top Liked Categories</h2>
{% if categories %}
	<ul>
		{% for category in categories %}
			<li><a href='/rango/category/{{category.slug}}'>{{ category.name }}</a> - {{ category.likes }}</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No categories are available.</p>
{% endif %}	

<h2>Top Viewed Pages</h2>
{% if pages %}
	<ul>
		{% for page in pages %}
			<li><a href= "{{ page.url }}">{{ page.title }}</a> - {{ page.views }}</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No categories are available.</p>
{% endif %}	


{% endblock %}